<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<div class="im_history_messages_peer" ng-show="peerHistory.peerID == historyPeer.id" ng-repeat="peerHistory in peerHistories" style="">
  <div class="im_history_message_wrap" my-message="" ng-repeat="historyMessage in peerHistory.messages"><div class="im_message_outer_wrap hasselect" ng-click="toggleMessage(historyMessage.mid, $event)">

      <div class="im_message_wrap clearfix" ng-switch="::historyMessage._ == 'messageService'">

        <!---->

        <!----><div ng-switch-default="" class="im_content_message_wrap im_message_in" ng-class="::[historyMessage.pFlags.out ? 'im_message_out' : 'im_message_in', historyMessage.fwdFromID ? 'im_message_fwd' : '']">
          <i class="icon icon-select-tick"></i>

          <!---->
          <!---->

          <a class="im_message_from_photo pull-left peer_photo_init" my-peer-photolink="::historyMessage.fromID" img-class="im_message_from_photo"><img class="im_message_from_photo" src="blob:https://web.telegram.org/db4d34ce-13e5-458e-ae93-00596d9dfe0e"></a>

          <div class="im_message_meta pull-right text-right noselect">
            <!---->
        <span class="im_message_date clickable">

          <span class="im_message_date_text nocopy" data-content="11:49:24 AM"></span>
        </span>
          </div>

          <div class="im_message_body" ng-class="::{im_message_body_media: historyMessage._ == 'message' &amp;&amp; historyMessage.media ? true : false}">

        <span class="im_message_author_wrap">
          <span class="copyonly">[<span ng-bind="::historyMessage.date | time">11:49:24 AM</span>] </span><a class="im_message_author" my-peer-link="historyMessage.fromID" short="historyMessage.peerID > 0" color="historyMessage.peerID < 0" no-watch="true" saved-from="historyMessage.savedFrom">Wasteland Wars</a><!----><span class="copyonly">:</span><span class="im_message_author_admin" my-message-admin-badge="historyMessage" style="display: none;"></span>
        </span>


            <!---->

            <!---->

            <div my-message-body="historyMessage">
              <div class="im_message_text" dir="auto">🕳Крышки: <strong>761</strong><br><br><code>Ты отдал учителю 4670 крышек и погрузился в обучение. Теперь ты стал немного опытнее.</code><br><br><span class="emoji  emoji-spritesheet-0" style="background-position: -252px -72px;" title="muscle">:muscle:</span>Сила (120): 🕳<strong>156</strong><br><span class="emoji  emoji-spritesheet-2" style="background-position: -126px -36px;" title="gun">:gun:</span>Меткость (107): 🕳<strong>10</strong><br>🤸🏽♂Ловкость (108): 🕳<strong>10</strong><br><span class="emoji  emoji-spritesheet-0" style="background-position: -180px -108px;" title="heart">:heart:</span>Живучесть (248): 🕳<strong>1820</strong><br>🗣Харизма (468): 🕳<strong>4680</strong> <br><br>Выбирай желаемый навык:</div>
              <div class="im_message_media" style="display: none;"></div>
              <div class="im_message_sign" style="display: none;"></div>
              <div class="im_message_keyboard" style="display: none;"></div>
            </div>


          </div>

        </div><!---->
      </div>

    </div>

  </div>
</div>

          