@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(45deg, #5189c1 25%, #41b883);
    color: #333;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
}

.container {
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    max-width: 600px;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: unset;
    }
}

h1 {
    text-align: center;
    margin-top: 0;
}

.vue-logo {
    display: block;
    width: 50px;
    margin: 0 auto;
}
